/*body styling*/
body {
    font-family: "Play", sans-serif;
  }
  
  /*home container styling*/
  #home-container {
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: white;
  }
  
  #logo {
    padding-top: 15rem;
  }
  
  #welcome-title {
    padding-top: 6rem;
  }
  
  #mouse-click {
    padding-top: 6rem;
    padding-bottom: 2rem;
  }
